@font-face{
    font-family: "bebas nue";
    src: url(../font/BebasNeue-Regular.ttf);
 }
 @font-face{
     font-family: "source sans pro";
     src: url(../font/SourceSansPro-Regular.otf);
 }
 @font-face{
     font-family: "lemon milk";
     src: url(../font/LEMONMILK-Regular.otf);
 }
 @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
@keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
    
body{
    background-image: url(../image/shattered.png);
    margin: 0;
    font-family: lemon milk;
    color: white;
    animation: fadeIn 4s;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.table-container{
    width: 100%;
}

.title{
    background-color: rgb(182, 11, 11);
    color: white;
    font-family: lemon milk;
    display: inline-block;
    padding: 8px 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0;
    margin-bottom: 15px;
    font-size: 23px;
    min-width: 300px;
    text-align: center;

}

.profile img{
    width: 180px;
    float: left;
    margin-right: 15px;
    border-radius: 10px;
    animation: fadeInDown 4s;
}

.isi{
    font-family: lemon milk;
    background-image: url(../image/spikes.png);
    color: rgb(184, 16, 16);
    margin-left: 190px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
}

.profile{
    width: 50%;
}

.table-container td{
    vertical-align: top;
    padding: 15px;

}
hr{
    margin: 0;
    border: solid rgb(182, 11, 11) ;
}

.skill .content{
    background-image: url(../image/spikes.png);
    color: black;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.title-profile{
    font-family: source sans pro;
    font-weight: bold;
    color: black
}

.skill ul{
    margin: 0;
    list-style: none;
}

.skill li{
    padding-top: 5px;
    padding-bottom: 5px;
}
.warna-persen{
    font-family: arial;
    color: white;
}

.skill .level{
    background-color: rgb(184, 16, 16);
    color: white;
    text-align: center;  
    padding: 1px; 
    margin-top: 15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; 
    animation: fadeInDown 4s; 
}

.CV{
    background-color: rgb(184, 16, 16);
    margin: 0;
    padding: 30px;
}

.sekolah{
    background-color: rgb(184, 16, 16);
    font-family: lemon milk;
    text-align: center;
    color: white;
    margin-top: 0;
    padding: 15px;
    
}

.isi-sekolah{
    font-family: source pro sans;
    color: black;
    margin-left: 10px;
    text-align: justify;

}

.sub-judul-sekolah{
    font-family: lemon milk;
    text-align: left;
    color: black;
    margin-top: 0px;

}

.container img{
    border-radius: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.foto-sekolah{
    height: 200px;
    width: 400px;
    animation-delay: 10s;
    animation: fadeInLeft 4s;
}

.contact{
    background-color: rgb(184, 16, 16);
    font-family: source sans pro;
    text-align: left;
    margin: 0;
    padding: 10px;
}

.instagram{
    width: 50px;
    height: 30px;
    float: left;
    margin-right: 0;    
}
.link{
    color: white;
    font-size: 20px;
}

.ukuran{
    width: 292px;
    height: 198px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 15px;
    animation: fadeInDown 4s;
    border-radius: 15px;
    margin-top: 50px;
}

.tes-slider{
    background-image: url(../image/chinese.jpg);
    padding: 15px;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: bebas nue;
 
}

.desain-saya{
    color:  rgb(184, 16, 16);
    font-size: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.facebook{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 12px;
}